html {
	min-height, height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #969CB3;
	display:block;
	width: 100%;
	min-height, height: 100%;
	margin: 0;
	padding: 0;
}

.nameLink {
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
	color: #AAAAAA;
	text-indent: 0;
	text-decoration: none;
}

.navLink:hover {
	text-decoration: underline;
}

div.content {
	width:600px;
	float:left;
	padding-left: 3%;
	padding-top: 5%;
	height: 100%;
	font-family: 'Droid Serif', serif;
	font-size: 14px;
	line-height: 1.5em;
}

div.footer {
	border-top: 1px solid #AAAAAA;
	display: block;
	clear:both;
	margin: 20px auto 0px auto;
	padding-bottom: 30px;
	display:inline-block;
	vertical-align: middle;
	text-align: center;
	font-size: 13px;

}

div.sidebar {
	margin-left: 0;
	background-color: #6C7080;
	width: 20%;
	height: 100%;
	float:left;
	text-align: left;
	padding-right: 2.5%;
	padding-bottom: 5%;
	padding-top: 5%;
	padding-left: 5%;
	box-shadow: 8px 0px 17px -4px rgba(0, 0, 0, 0.1);
	font-family: 'Raleway', sans-serif;
	font-size: 14px;
	line-height: 2em;
}

div.techSkills {
	margin:0;
	padding-bottom:20px;
}

div.professionalHistory {
	width: 600px;
	float:left;
}

.professionalHistory p {
	padding-left: 15%;
}

.professionalHistory a {
	text-decoration: none;
	color:#343A4A;
	font-weight: bold;
}

.professionalHistory a:hover {
	color:#616E91;
}

h1, h3 {
	color: #343A4A;
	font-family: 'Droid Serif', serif;
}

h1 {
	font-size: 32px;
	padding-bottom: 10px;
}

h3 {
	text-indent: 0;
	text-align:left;
	position:relative;
    z-index:2;
}

.line-center{
	font-family: 'Lobster', cursive;
	font-size: 24px;
    margin:0;
    padding:0 10px;
    background:#969CB3;
    display:inline-block;
}

h3:after {
	content:"";
    position:absolute;
    top:50%;
    left:0;
    right:0;
    border-top:solid 1px #BBBBBB;
    z-index:-1;
}

.techChart {
	height:100%;
	min-height:100%;
	padding-left: 5%;
}